 <h4>画像</h4>
        <div class="col btn_wrap mb-5">
            <%= link_to "やってみよー！" , new_picture_path ,class: "ui button" %>
        </div>
<h1>aa</h1>
<div class="ui breadcrumb">
  <a class="section" href="/">SE学院</a>
  <div class="divider"> / </div>
  <a class="section" href="/css/">CSS</a>
  <div class="divider"> / </div>
  <div class="active section">Semantic UI</a>
</div>
<div class="ui dropdown">
  <div class="text">File</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item">New</div>
    <div class="item">Save</div>
  </div>
</div>
<script>
  $('.ui.dropdown').dropdown();
</script>


<%= form_with model: @survey do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.fields_for :questions do |qu| %>
    <%= qu.label :text %>
    <%= qu.text_field :text %>
    <%= qu.label :description %>
    <%= qu.text_area :description %>
    <%= qu.fields_for :options do |op| %>
      <%= op.label :text %>
      <%= op.text_area :text %>
    <% end %>
  <% end %>
  <%= f.submit 'send' %>
<% end %>