<h1>2ページ目。写真投稿</h1>
<div class="alret">
  <%= flash[:alret] %>
</div>
<div class="col-md-8 offset-md-1">
<table class="table">
<tbody>
<tr>
<td>
  <%= form_with model: @carry_content, url: carry_contents_path do |f| %>
  <%= f.file_field :image, accept: "image/*" %>
  <%= f.hidden_field :picture_id, :value => @base_pic.id %>
      <%= f.submit '分析しよー', class: 'ui button' %>
<% end %>
</td>
</tr>
</tbody>
</table>
</div>
